/* google font❤ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* common style  */
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration:none;
    color:#555;
}
/* header section  */
header{
    background:radial-gradient(#fff, #ffd6d6);
}
.container{
    max-width: 1300px;
    max-height: px;
    margin:auto;
    padding:0 25px;
}
p{
    color:#555;
}
.navbar{
    display:flex;
    padding:20px;
    align-items:center;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    margin:20px;
}
header .row {
    margin-top:70px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn:hover{
    background-color:#563434;
    transition:background-color .5s;
}
.col-2{
    min-width: 300px;
    flex-basis: 50%;
}
.col-2 h1{
    font-size:50px;
    line-height: 60px;
    margin:25px 0px;
}
.btn{
    background-color: #ff523b;
    display:inline-block;
    color:white;
    padding:8px 30px;
    margin:30px 0px;
    border-radius:30px;
}
.col-2 img{
    max-width: 100%;
    padding:50px 0px;
}
.categories{
    margin:70px 0px;
}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding:0px 25px;
}
.title{
    text-align: center;
    margin:0 auto 80px;
    position:relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    content:'';
    background:#ff523b;
    width:80px;
    height: 5px;
    position:absolute;
    bottom:0px;
    left:50%;
    transform:translateX(-56%)
}
.col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom:30px;
    overflow: hidden;
    

}
.col-3 img{
    width:100%;
}
.top-section-images img:hover{
    transform: scale(1.1);
    transition:transform .5s;
    opacity:.8;

}
.col-4{
    flex-basis:25%;
    padding:20px;
    min-width: 200px;
    margin-bottom:50px;
    transition: transform 0.5s;
    
}
h4{
    color:#555;
    font-weight: normal;

}
.col-4:hover{
    transform:translateY(-10px);

}
.col-4 img{
    width:100%;

}
.col-4 p{
    font-size:14px;
}
.ratting .fas{
    color:#ff523b;
}
/* offer section  */
.offer{
    background:radial-gradient(#fff, #ffd6d6);
    margin-top:80px;
    padding:30px 0px;
}
.col-2 .offer-img{
    padding:50px;
}
small{
    color:#555;
}
/* testimonial section  */
.testimonial{
    padding-top:100px;
}
.testimonial .col-3{
    text-align:center;
    padding:40px 20px;
    box-shadow:0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor:pointer;
    transition:transform 0.5s;
}
.moanoghar{
    font-size:34px;
    color:#ff523b;
}
.testimonial .col-3:hover{
    transform:translateY(-10px);
}
.testimonial .col-3 img{
    width:50px;
    margin-top:20px;
    border-radius:50%;
}
.col-3 p{
    font-size:12px;
    margin:12px 0px;
    color:#777;
}
.testimonial .col-3 h3{
    font-size:16px;
    color:#555;
    font-weight: 600;
}
/* ----------brands------------ */
.brands{
    margin:100px auto;
}
.col-5{
    width:160px;
}
.col-5 img{
    width:100%;
    cursor:pointer;
    filter:grayscale(100%);
}
.col-5 img:hover{
    filter:grayscale(0%); 
}
/* ------------footer--------- */
.footer{
    background-color:#000;
    color:#8a8a8a;
    font-size:14px;
    padding:60px 0px 20px;
}
.footer p{
    color:#8a8a8a;
}
.footer h3{
    color:white;
    margin-bottom:20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis:30%;
}
.app-logo{
    margin-top:20px;
}
.app-logo img{
    width:140px;
}
.footer-col-2{
    flex:1;
    text-align:center;
}
.footer-col-2 img{
    width:180px;
    margin-bottom:20px;
}
.footer-col-3, .footer-col-4{
    text-align:center;
    flex-basis:12%;
}
ul{
    list-style-type: none;
}
.footer hr{
    border:none;
    background-color:#b5b5b5;
    height:1px;
    margin:20px 0;
}
.copyright{
    text-align:center;
}
.menu-icon{
    width:28px;
    margin-left:20px;
    display:none;
}
/* ------------mediaquery for menu--------- */
@media only screen and (max-width:800px) {
    nav ul{
        position: absolute;
        top:70px;
        left:0px;
        background-color:#333;
        width:100%;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top:10px;
        margin-bottom:10px;
    }
    nav ul li a{
        color:white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;

    }
    body{background-color:red;}
}